/week1/demolitionTest.in2
/week1/demolitionTest.in0
/week1/demolitionTest.in1
/week1/demolition
/week1/demolition2
/week1/demolitionTest.in3
/week1/demolitionTest.in4
/week1/demolitionTest.out2
/week1/race
/week1/forcedLanding
/week0/change
/week0/faces
/week0/shelves
/week0/sum
/week1/falseCoin
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
